<!--Admin-->


<div class="d-flex flex-column p-3 vh-100 menu-wrapper" >
  <h4 class="text-center mb-4">Veg'N'bio BackOffice</h4>
  <ul class="list-unstyled components flex-column">


    <li class="nav-item  mb-3">
      <a class="nav-link" href="/dashboard">
        <i class="bi bi-speedometer2 me-2"></i>Tableau de bord</a>
    </li>

    <li class="nav-item mb-3" *ngIf="isAdmin">
      <a class="nav-link dropdown-toggle"  href="#user"  role="button" aria-expanded="false" > <!--data-bs-toggle="collapse"-->
        <i class="bi bi-people me-2"></i>Utilisateurs</a>
      <ul class="collapse ps-3 list-unstyled" id="user">
        <li><a class="nav-link ms-2" href="/user-list">Liste</a></li>
        <li><a class="nav-link ms-2" href="/add-user">Nouveau</a></li>
      </ul>
    </li>

    <li class="nav-item mb-3" *ngIf="isAdmin">
      <a class="nav-link dropdown-toggle"   href="#products" role="button" aria-expanded="false" > <!--data-bs-toggle="collapse"-->
        <i class="bi bi-house me-2"></i>Produits</a>
      <ul class="collapse ps-3 list-unstyled" id="products" >
        <li><a class="nav-link ms-2"  href="/product-list">Liste</a></li>
        <li><a class="nav-link ms-2"  href="/add-product">Nouveau</a></li>

      </ul>
    </li>

    <li class="nav-item  mb-3">
      <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#menu"  role="button" aria-expanded="false" >
        <i class="bi bi-file me-2"></i>Menu</a>
      <ul class="collapse ps-3 list-unstyled" id="menu" >
        <li><a class="nav-link ms-2"  href="/menu-list">Liste</a></li>
        <li><a class="nav-link ms-2"  href="/add-menu">Nouveau</a></li>
      </ul>
    </li>

    <li class="nav-item  mb-3">
      <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#restaurant"  role="button" aria-expanded="false" >
        <i class="bi bi-file me-2"></i>Restaurant</a>
      <ul class="collapse ps-3 list-unstyled" id="restaurant" >
        <li><a class="nav-link ms-2"  href="/canteen-list">Liste</a></li>
        <li><a class="nav-link ms-2"  href="/add-canteen">Nouveau</a></li>
      </ul>
    </li>

    <li class="nav-item  mb-3">
      <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#reservations" role="button" aria-expanded="false" >
        <i class="bi bi-receipt me-2"></i>Réservations</a>
      <ul class="collapse ps-3 list-unstyled" id="reservations" >
        <li><a class="nav-link ms-2"  href="/booking-list">Liste</a></li>
        <li><a class="nav-link ms-2"  href="/add-booking">Nouveau</a></li>
      </ul>
    </li>


    <!--<li class="nav-item  mb-3">
      <a  class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#settings" role="button" aria-expanded="false" >
        <i class="bi bi-gear me-2"></i>Parametres</a>
      <ul class="collapse ps-3 list-unstyled" id="settings">
        <li><a class="nav-link ms-2"   href="#">Profil</a></li>
        <li><a class="nav-link ms-2"  href="#">Preference</a></li>
        <li><a class="nav-link ms-2"  href="#">Tarification</a></li>
      </ul>
    </li>-->

<!-- ADMIN et RESTORER -->
    <li class="nav-item  mb-3">
      <a  class="nav-link dropdown-toggle" data-bs-toggle="collapse"  href="#event"  role="button" aria-expanded="false" >
        <i class="bi bi-tools me-2"></i>Evenements</a>
      <ul class="collapse ps-3 list-unstyled" id="event" >
        <li><a class="nav-link ms-2" href="#">event-list</a></li>
        <li><a class="nav-link ms-2" href="/add-event">Nouveau</a></li>
      </ul>
    </li>




<!--Restorer-->


    <li class="nav-item mb-3">
      <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#pageSubmenu"  role="button" aria-expanded="false" >
        <i class="bi bi-people me-2"></i>Restaurant</a>
      <ul class="collapse ps-3 list-unstyled" id="pageSubmenu">
        <li><a class="nav-link ms-2" href="">Nouveau</a></li>
        <li><a class="nav-link ms-2" href="">Liste</a></li>
      </ul>
    </li>
    <!---->
    <li class="nav-item  mb-3">
      <a class="nav-link dropdown-toggle"   href="#propertySubmenu" role="button" aria-expanded="false" >
        <i class="bi bi-house me-2"></i>Menus</a>
      <ul class="collapse ps-3 list-unstyled" id="propertySubmenu" >
        <li><a class="nav-link ms-2"  href="">Nouveau</a></li>
        <li><a class="nav-link ms-2"  href="">Liste</a></li>
      </ul>
    </li>
    <!---->
    <li class="nav-item  mb-3">
      <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#docSubmenu"  role="button" aria-expanded="false" >
        <i class="bi bi-file me-2"></i>Commandes</a>
      <ul class="collapse ps-3 list-unstyled" id="docSubmenu" >
        <li><a class="nav-link ms-2"  href="#">Nouveau</a></li>
        <li><a class="nav-link ms-2"  href="#">Gestion de menu</a></li>
        <li><a class="nav-link ms-2"  href="#">Liste des restos</a></li>
      </ul>
    </li>
    <!---->
    <li class="nav-item  mb-3">
      <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#billSubmenu" role="button" aria-expanded="false" >
        <i class="bi bi-receipt me-2"></i>Réservations</a>
      <ul class="collapse ps-3 list-unstyled" id="billSubmenu" >
        <li><a class="nav-link ms-2"  href="#">Liste</a></li>
      </ul>
    </li>
    <!---->

    <!---->
    <!--<li class="nav-item  mb-3">
      <a  class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#parameter" role="button" aria-expanded="false" >
        <i class="bi bi-gear me-2"></i>Parametres</a>
      <ul class="collapse ps-3 list-unstyled" id="parameter">
        <li><a class="nav-link ms-2"  href="#">Preference</a></li>
        <li><a class="nav-link ms-2"  href="#">Tarification</a></li>
      </ul>
    </li>-->


    <!-- ADMIN et RESTORER -->
    <li class="nav-item  mb-3">
      <a  class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#profile"  aria-expanded="false" >
        <i class="bi bi-person me-2"></i>Profil</a>
      <ul class="collapse ps-3 list-unstyled" id="profile">
        <li><a class="nav-link ms-2"   href="/profile">Mes infos</a></li>
        <li><a class="nav-link ms-2"   href="/status-change">Changer de status</a></li>
      </ul>
    </li>


  </ul>
  <hr>
</div>
