<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Aside Menu Layout</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>

  </style>
</head>
<body>


<div class="container-fluid">
  <div class="row flex-nowrap ">
    <!-- SideMenu -->
    <nav class="col-12 col-xs-3 col-md-3 col-xl-2 px-0 bg-dark text-white sidebar">
      <app-admin-aside-menu/>
    </nav>

    <main class="col">

      <div class="container-fluid">
        <app-navbar-top></app-navbar-top>
      </div>


      <p-stepper [(value)]="activeStep" class="basis-[40rem]">

        <p-step-list>
          <p-step [value]="1" style="pointer-events: none">Informations</p-step>
          <p-step [value]="2" style="pointer-events: none">Dates et horaires</p-step>
          <p-step [value]="3" style="pointer-events: none">Equipements et services</p-step>
          <p-step [value]="4" style="pointer-events: none">Médias</p-step>
          <p-step [value]="5" style="pointer-events: none"></p-step>
        </p-step-list>

        <p-step-panels class="w-full">
          <!-- Étape 1 : Informations générales -->
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div
                class="max-w-lg mx-auto min-h-[50rem] flex flex-col"
                enterClass="animate-enter fade-in-10 zoom-in-75 animate-duration-1000"
                leaveClass="animate-leave fade-out-0"
                pAnimateOnScroll
              >
                <h3 class="text-left text-2xl fw-bold text-primary mt-2 mb-4">📌 Informations générales</h3>
                <form [formGroup]="infoForm">
                  <div class="row py-3">

                    <div class="col-md-4">

                      <label class="fw-bold d-block">Nom du restaurant*</label>
                      <input class="form-label w-75" type="text" pInputText  formControlName="name" [pAutoFocus]="true" [fluid]="true"/>
                      <div *ngIf="infoForm.get('name')?.invalid && infoForm.get('name')?.touched" class="text-danger" style="font-size: 0.8rem" >
                        Nom du restaurant obligatoire
                      </div>
                    </div>

                    <div class="col-md-4">
                      <label class="fw-bold d-block">Email*</label>
                      <input class="form-label w-75" type="email" pInputText  formControlName="email" [pAutoFocus]="true" [fluid]="true"/>
                      <div *ngIf="infoForm.get('email')?.invalid && infoForm.get('email')?.touched" class="text-danger" style="font-size: 0.8rem">
                        Email obligatoire
                      </div>
                    </div>


                      <div class="col-md-4">
                        <label class="fw-bold d-block">Tel*</label>
                        <input class="form-label w-75" type="text" pInputText formControlName="phone" [pAutoFocus]="true" [fluid]="true"/>
                        <div *ngIf="infoForm.get('phone')?.invalid && infoForm.get('phone')?.touched" class="text-danger" style="font-size: 0.8rem">
                          Numero de contact obligatoire
                        </div>
                      </div>
                  </div>

                  <div class="d-flex row py-2">
                    <div class="col-md-6">
                      <label class="fw-bold d-block">Adresse*</label>
                      <input class="form-label w-75" type="text" pInputText formControlName="address" [pAutoFocus]="true" [fluid]="true"/>
                      <div *ngIf="infoForm.get('address')?.invalid && infoForm.get('address')?.touched" class="text-danger" style="font-size: 0.8rem">
                        Adresse obligatoire
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="fw-bold d-block">Ville*</label>
                      <p-select
                        [options]="cities"
                        formControlName = "city"
                        [checkmark]="true"
                        optionLabel="label"
                        optionValue="value"
                        [showClear]="true"
                        placeholder="Selectionner une ville"
                        class="form-label w-75"
                        [pAutoFocus]="true" [fluid]="true"
                      />
                      <div *ngIf="infoForm.get('city')?.invalid && infoForm.get('city')?.touched" class="text-danger" style="font-size: 0.8rem">
                        Ville obligatoire
                      </div>
                    </div>
                  </div>

                  <div class="row py-2">
                    <div class="col-md">
                      <label class="fw-bold d-block">Description*</label>
                      <textarea class="form-label" cols="70" formControlName="desc" pTextarea rows="3" [pAutoFocus]="true" [fluid]="true">
                      </textarea>
                      <div *ngIf="infoForm.get('desc')?.invalid && infoForm.get('desc')?.touched" class="text-danger" style="font-size: 0.8rem">
                        Adresse obligatoire
                      </div>
                    </div>
                  </div>

                </form>
                <!-- Barre de navigation -->
                <div class="flex justify-end pt-6 mt-auto">
                  <p-button (onClick)="nextStep(infoForm,activateCallback,2)" icon="pi pi-arrow-right" iconPos="right" label="Suivant"/>
                </div>
              </div>

            </ng-template>
          </p-step-panel>

          <!-- Étape 2 : Dates & horaires -->
          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <div
                   class="max-w-lg mx-auto min-h-[50rem] flex flex-col"
                   enterClass="animate-enter fade-in-10 zoom-in-75 animate-duration-1000"
                   leaveClass="animate-leave fade-out-0"
                   pAnimateOnScroll>

                <h3 class="text-left text-2xl fw-bold text-primary mt-2 mb-4">Horaires d’ouverture</h3>
                <form
                  *ngIf="hourlyForm"
                  [formGroup]="hourlyForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
                  <div formArrayName="days">

                    <div *ngFor="let day of daysArray.controls; let i = index"
                         [formGroupName]="i"
                         class="flex flex-wrap md:flex-nowrap items-center gap-4 border-b py-3 px-4 hover:bg-gray-50 transition-all duration-200">

                      <!-- Nom du jour -->
                      <div class="w-24 font-semibold text-gray-800">

                      </div>

                      <!-- Heures d’ouverture et fermeture -->
                      <div class="flex items-center gap-2 flex-1 flex-wrap md:flex-nowrap">

                        <!-- Ouverture -->
                        <span> {{ day.value.day }}</span>

                        <p-datepicker
                          inputId="datepicker-ouverture-{{i}}"
                          formControlName="opening"
                          [timeOnly]="true"
                          showIcon
                          icon="pi pi-clock"
                          hourFormat="24"
                          [style]="{ width: '8rem' }"

                          class="border rounded-lg px-2 py-1 shadow-sm focus:shadow-md transition duration-200 mx-4"
                        ></p-datepicker>

                        <span class="text-gray-500 font-medium">à</span>

                        <!-- Fermeture -->
                        <p-datepicker
                          inputId="datepicker-fermeture-{{i}}"
                          formControlName="closing"
                          [timeOnly]="true"
                          showIcon
                          icon="pi pi-clock"
                          hourFormat="24"
                          [style]="{ width: '8rem' }"
                          class="border rounded-lg px-2 py-1 shadow-sm focus:shadow-md transition duration-200 mx-4"
                        ></p-datepicker>

                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="flex justify-between pt-8 mt-5 border-t border-gray-200">
                <p-button (onClick)="prevStep(1, activateCallback)" icon="pi pi-arrow-left" label="Retour" severity="secondary"/>
                <p-button (onClick)="nextStep(hourlyForm, activateCallback, 3)" icon="pi pi-arrow-right" iconPos="right" label="Suivant"/>

              </div>

            </ng-template>
          </p-step-panel>

          <!-- Étape 3 : Equipement et services -->
          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
              <div
                class="max-w-lg mx-auto min-h-[50rem] flex flex-col"
                enterClass="animate-enter fade-in-10 zoom-in-75 animate-duration-1000"
                leaveClass="animate-leave fade-out-0"
                pAnimateOnScroll>

                  <p-picklist
                    [source]="sourceServices"
                    [target]="targetServices"
                    [dragdrop]="true"
                    [responsive]="true"
                    sourceFilterPlaceholder="Search by name"
                    targetFilterPlaceholder="Search by name"
                    breakpoint="1400px"
                    scrollHeight="20rem">
                    <ng-template let-option let-selected="selected" #item>
                      <div class="flex flex-wrap p-1 items-center gap-4 w-full">

                        <!--<i [class]="option.icon + ' text-xl text-gray-700'"></i>-->
                        <span>  <i [class]="option.icon + 'text-xl text-gray-700'"></i> </span>

                        <div class="flex-1 flex flex-col">
                          <span class="font-medium text-sm">{{ option.label }}</span>
                          <span
                            [ngClass]="{
                          'text-surface-500': !selected,
                          'dark:text-surface-400': !selected,
                          'text-inherit': selected,
                          }"></span
                          >
                        </div>
                        <span class="font-bold sm:ml-8">{{ option.value }}</span>
                      </div>
                    </ng-template>
                  </p-picklist>
                  <div class="flex justify-between pt-8 mt-5 border-t border-gray-200">
                    <p-button (onClick)="prevStep(2, activateCallback)" icon="pi pi-arrow-left" label="Retour" severity="secondary"/>
                    <p-button (onClick)="nextStep(3, activateCallback, 4)" icon="pi pi-arrow-right" iconPos="right" label="Suivant"/>
                  </div>
              </div>

            </ng-template>
          </p-step-panel>

          <!-- Étape 4 : Médias -->
          <p-step-panel [value]="4">

            <ng-template #content let-activateCallback="activateCallback">

              <div
                class="max-w-xl mx-auto min-h-[30rem] flex flex-col"
                enterClass="animate-enter fade-in-10 zoom-in-75 animate-duration-1000"
                leaveClass="animate-leave fade-out-0"
                pAnimateOnScroll>
                <app-loader *ngIf="loading"></app-loader>
                <h3 class="text-left text-2xl fw-bold text-primary mt-4">🖼️ Médias</h3>

                <form [formGroup]="mediaForm" class="flex flex-col gap-4">
                  <p-fileupload
                    [customUpload]="true"
                    (onSelect)="onSelect($event)"
                    (onUpload)="onUpload($event)"
                    [multiple]="true"
                    accept="image/*"
                    cancelLabel="Annuler"
                    chooseLabel="Choisir"
                    class="w-full"
                    maxFileSize="1000000"
                    mode="advanced"
                    uploadLabel="Uploader"
                  >
                    <ng-template #empty>
                      <div class="text-gray-400 text-center py-5 border-dashed border-2 border-gray-300 rounded">
                        Glissez-déposez vos images ici
                      </div>
                    </ng-template>
                  </p-fileupload>
                </form>
              </div>
              <div class="flex justify-between  mt-5 border-t border-gray-200 ">
                <p-button (onClick)="activateCallback(3)" icon="pi pi-arrow-left" label="Retour" severity="secondary"/>
                <p-button (onClick)="onSubmit()" class="mx-4" icon="pi pi-check" label="Enregistrer"/>
              </div>
            </ng-template>

          </p-step-panel>

          <!-- Étape 5 : Confirmation -->
          <p-step-panel [value]="5">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="max-w-md mx-auto min-h-[18rem] flex flex-col items-center justify-center ">
                <h3 class="text-2xl font-bold text-green-600 ">✅ Restaurant créé avec succès</h3>
                <img alt="confirmation" class="mt-4 w-40"
                     src="https://primefaces.org/cdn/primeng/images/stepper/content.svg"/>
              </div>
              <div class="flex justify-center pt-3">
                <p-button (onClick)="resetForms()" icon="pi pi-plus" label="Nouveau resto"
                          severity="primary" [routerLink]="['/add-canteen']"/>
              </div>

              <div class="flex justify-center pt-3 ">
                <p-button (onClick)="resetForms()" icon="pi pi-plus" label="Liste des restos" severity="primary"
                          [routerLink]="['/canteen-list']"/>
              </div>


            </ng-template>
          </p-step-panel>
        </p-step-panels>

      </p-stepper>
    </main>
  </div>
</div>
</body>
</html>

